.vscode/

# 01. Instalation folder
01. Instalation/src/Instalation
01. Instalation/src/go.mod
01. Instalation/.vscode/
02. Pelatihan-KMTETI-Go_Week-1/src/02.Pelatihan-KMTETI-Go_Week-1
02. Pelatihan-KMTETI-Go_Week-1/src/go.mod
